html {
    height: 100%;
}
body {
    font-family: sans-serif;
    color: #333;

    display:flex;
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

#pictures-content {
    height: 200px;

    display: flex;
}
#pictures .picture img {
    max-height: 200px;
    max-width: 200px;
}