html {
    height: 100%;
}
body {
    font-family: sans-serif;
    color: #333;

    display:flex;
    flex-direction: column;
    
    height: 100%;
}
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}




#map {
    display: flex;
    flex-grow: 1;
}

#map iframe {
    flex-grow: 1;
}





#pictures {
    flex-shrink: 0;
    flex-grow: 0;

    background: #333;

    box-shadow: 0 0 10px 0px #333;

    z-index: 2;

    color: white;
}

#pictures #pictures-header select {
    min-width: 100px;

    border: none;

    background: #333;

    color: white;
}
#pictures #pictures-header select:focus {
    outline: none;
}

#pictures #pictures-content {
    padding: 10px;

    overflow-x: auto;
}

#pictures .sequence {
    display: none;
}
#pictures #sequence-selected {
    display: flex;
}

#pictures .picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    height: 200px;
    width: 200px;

    padding: 5px;
    margin: 0 5px;

    border-radius: 4px;
    border: 1px solid transparent;

    background: #333;

    transition: .3s;
}
#pictures .picture:hover {
    background: #222;

    border-color: #111;
}
#pictures .picture-img-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
}
#pictures .picture img, #pictures .picture video {
    max-width: 100%;
    max-height: 100%;

    display: block;

    border: 1px solid #111;
}
#pictures .picture .picture-name {
    flex-grow: 0;
    flex-shrink: 0;
}







#lightbox {
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: .5s;

    z-index: 3;
}
#lightbox.lightbox-opened {
    display: flex;
}

#lightbox-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;

    background: rgba(0, 0, 0, .85);

    transition: .3s;
}
#lightbox-close:hover {
    background: rgba(0, 0, 0, .8);
}

#lightbox-img-container {
    background: rgba(0, 0, 0, .6);

    padding: 50px 80px;

    height: 85%;
    width: 85%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lightbox-img-container .lightbox-navigation {
    border-color: transparent;
    border-style: solid;

    cursor: pointer;

    transition: .3s;
}
#lightbox-img-container #lightbox-previous {
    border-width: 20px 20px 20px 0;
    border-right-color: rgba(247, 247, 247, 0.5);
}
#lightbox-img-container #lightbox-previous:hover {
    border-right-color: rgba(247, 247, 247, 0.8);
}
#lightbox-img-container #lightbox-next {
    border-width: 20px 0 20px 20px;
    border-left-color: rgba(247, 247, 247, 0.5);
}
#lightbox-img-container #lightbox-next:hover {
    border-left-color: rgba(247, 247, 247, 0.8);
}

#lightbox-img-container img, #lightbox-img-container video {
    max-height: 100%;
    max-width: 100%;

    display: none;
}
#lightbox-img-container img[src], #lightbox-img-container img:not([src]) + video {
    display: block;
}